{% extends 'base.html' %}
{% load static %}

{%  block navbar %}
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'website:home' %}">SciPy India 2015 </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'website:home' %}">Home</a></li>
           <li><a href="{% url 'website:cfp' %}">Call for Papers</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="login" name="login">
    <div class="container">
        <div class="row">
        <h2 class="centered">Password Recovery</h2>
        <hr>
          {% if invalid_email %}
              <center>
                <div class="alert" style="width:300px;height:50px;">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p>Invalid Email address</p>
                </div>
              </center>
              <div class="clearfix"></div>
          {% endif %}
          <div class="col-md-12">
                <p style="line-height:10px;">Enter the Email address you used while registration.</p>
                <p style="line-height:10px;">We will send you the updated login details on your Email address.</p>
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><input class="pwd-recovery-email" type=text id="email" name="email" placeholder="Your Email">
                    <p><input class="btn btn-primary pwd-recovery-btn" type=submit value="Reset Password">
                </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}
