{% extends 'base.html' %}
{% load static %}

{%  block navbar %}
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'website:home' %}">SciPy India 2015 </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'website:home' %}">Home</a></li>
           <li><a href="{% url 'website:cfp' %}">Call for Papers</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="login" name="login">
    <div class="container">
        <div class="row">
        <h2 class="centered">Login</h2>
        <hr>
          {% if invalid %}
              <center>
                <div class="alert" style="width:300px;height:50px;">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p>Invalid Username/Password</p>
                </div>
              </center>
              <div class="clearfix"></div>
          {% endif %}
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
                <p>Login with your SciPy India Account
                <form action="" method="POST">
                    {{ form.as_p }}
                    <button class="btn btn btn-primary" type="submit">Login</button>
                    <a href="{% url 'website:userregister' %}" class="btn btn btn-primary">Create an Account</a>
                    {% csrf_token %}
                </form>
                <hr>
                <center>
                <p>OR</p>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
                <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i> Sign in with Github</a>
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                </center>
          </div>
        </div>
    </div>
</div>
{% endblock %}
